/* Ajuste dos itens */
.item {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

/* Efeito ao passar o mouse */
.item:hover {
  transform: scale(1.05);
}

/* Container da imagem */
.item img {
  width: 100%;
  aspect-ratio: 1 / 1; /* deixa quadrado */
  object-fit: cover;
  transition: 0.3s;
}

/* Escurece levemente no hover */
.item:hover img {
  filter: brightness(0.8);
}

/* Título */
.item h3 {
  text-align: center;
  padding: 10px;
}
body {
  background-color: red;
}