body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.titulo{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10%;
    margin-top: 15%;
}

.desc{
    color: rgb(153, 153, 153);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10%;
    margin-inline-end: 50%;
}

.imagem{
    width: 350px;       
    height: 350px;      
    border-radius: 50%; 
    object-fit: cover; 
    margin-left: 65%;
    margin-top: -13%;
}

.insta{
    width: 60px;
    height: 60px;
    margin-left: 10%;
}

.redesSociais{
    display: flex;          
    gap: 25px;              
    margin-left: 10%;       
    margin-top: -3%;
}

.insta {
    width: 65px; 
    height: 65px;
}

.linkedin {
    width: 65px; 
    height: 65px;
}

.github {
    width: 65px; 
    height: 65px;
}