body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  text-align: center;
}

.titulo {
  margin-left: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.faq {
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

details {
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  transition: all 0.3s ease;
}


details[open] {
  background-color: #f9f9f9;
}

summary {
  font-weight: bold;
  font-size: 18px;
}

details p {
  margin-top: 10px;
  color: #555;
}